{% extends 'base.html.twig' %}

{% block body %}
    <div id="libelle">
      <span> Accès non autorisé.</span>
    </div>
    <div id="lien">
            <p>
                <span>Une erreur est survenue : vous n'avez pas les autorisations nécessaires pour effectuer cette action.</span>
            </p>
            <p>&nbsp;</p>
            <p>
                <span>Veuillez Vous connectez et rassurez vous que vous êtes createur de l'annonce.</span>
            </p>
            <p>&nbsp;</p>
    </div>
{% endblock %}