{% extends 'base.html.twig' %}

{% block body %}
        <div id="code" class="col-md-6">
				<span>{{ status_code }}</span>
			</div>
			<div class="col-md-6">
				<div id="libelle">
					<span>Page non trouvée.</span>
				</div>
				<div id="lien">
					<p>
                                            <span>Une erreur est survenue: la page est introuvable.</span>
					</p>
                                        <p>
                                            La page est inéxistante rédirigé vous vers <a href="{{ path('homepage') }}">l'accueil</a>.
                                        </p>
                                        <p>&nbsp;</p>
				</div>
			</div>     
{% endblock %}