	<div>
		<div style="background:#003580;">
			<div class="hd-foot">
				<div class="hd-foot-txt">
					<span class="hd-foot-txt-1">INSCRIVEZ-VOUS A NOTRE</span> NEWSLETTER <span class="hd-foot-txt-2">!</span>
				</div>
				<div class="hd-foot-box-inp">
					<input class="hd-foot-inp" type="text" placeholder="Votre e-mail" style="" name="" id="" value=""/>
				</div>
				<div class="hd-foot-btn-box">
					<div class="hd-foot-btn">Go</div>
				</div>
				<div style="clear:both;"></div>
			</div>
		</div>
		<div class="foot-bd-box">
			<div class="foot-bd-lft">
				<div class="foot-bd-elm" style="">
					<div class="foot-bd-mn-title" style="">QUI SOMMES-NOUS ?</div>
					<div class="foot-bd-mn-title-sub">
						<a href="/info/engagements" style="text-decoration: none;">Nos engagements</a>
					</div>
					<div class="foot-bd-mn-title-sub">
						<a href="/info/engagements" style="text-decoration: none;">Conditions de vente</a>
					</div>
					<div class="foot-bd-mn-title-sub">
						<a href="/info/engagements" style="text-decoration: none;">Conditions d'utilisation</a>
					</div>
					<div class="foot-bd-mn-title-sub">
						<a href="/info/engagements" style="text-decoration: none;">Affiliation</a>
					</div>
				</div>
				<div class="foot-bd-elm foot-bd-elm-2" style="">
					<div class="foot-bd-mn-title" style="">NOS SERVICES</div>
					<div class="foot-bd-mn-title-sub">
						<a href="/info/engagements" style="text-decoration: none;">Marchands Partenaires</a>
					</div>
					<div class="foot-bd-mn-title-sub">
						<a href="/info/engagements" style="text-decoration: none;">Modes de livraison</a>
					</div>
					<div class="foot-bd-mn-title-sub">
						<a href="/info/engagements" style="text-decoration: none;">Moyens de paiement</a>
					</div>
					<div class="foot-bd-mn-title-sub">
						<a href="/info/engagements" style="text-decoration: none;">Mes retours produits</a>
					</div>
				</div>
				<div style="clear:both;"></div>
			</div>
			<div class="foot-bd-rgt">
				<div class="foot-bd-elm" style="">
					<div class="foot-bd-mn-title" style="">AIDE</div>
					<div class="foot-bd-mn-title-sub">
						<a href="/info/engagements" style="text-decoration: none;">Plan du site</a>
					</div>
					<div class="foot-bd-mn-title-sub">
						<a href="/info/engagements" style="text-decoration: none;">Annuler ma commande</a>
					</div>
					<div class="foot-bd-mn-title-sub">
						<a href="/info/engagements" style="text-decoration: none;">Mon historique de commande</a>
					</div>
					<div class="foot-bd-mn-title-sub">
						<a href="/info/engagements" style="text-decoration: none;">Nous contacter</a>
					</div>
				</div>
				<div class="foot-bd-elm foot-bd-elm-4" style="margin-right:0;">
					<div class="foot-bd-mn-title" style="">LIENS UTILES</div>
					<div class="foot-bd-mn-title-sub">
						<a href="/info/engagements" style="text-decoration: none;">Cookie</a>
					</div>
					<div class="foot-bd-mn-title-sub">
						<a href="/info/engagements" style="text-decoration: none;">S'inscrire</a>
					</div>
					<div class="foot-bd-mn-title-sub">
						<a href="/info/engagements" style="text-decoration: none;">Reprise de matériel</a>
					</div>
					<div class="foot-bd-mn-title-sub">
						<a href="/info/engagements" style="text-decoration: none;">Garantie</a>
					</div>
				</div>
				<div style="clear:both;"></div>
			</div>
			<div style="clear:both;"></div>
		</div>
		<div class="foot-ft">
			© 2018 zandoo.com - Tous droits réservés.
		</div>
	</div>