	<div>
		<div style="background:#003580;">
			<div class="hd-foot">
				<div class="hd-foot-txt">
					<span class="hd-foot-txt-1">INSCRIVEZ-VOUS A NOTRE</span> NEWSLETTER <span class="hd-foot-txt-2">!</span>
				</div>
				<div class="hd-foot-box-inp">
					<input class="hd-foot-inp" type="text" placeholder="Votre e-mail" style="" name="" id="" value=""/>
				</div>
				<div class="hd-foot-btn-box">
					<div class="hd-foot-btn">Go</div>
				</div>
				<div style="clear:both;"></div>
			</div>
		</div>
		<div class="foot-bd-box" style="padding:10px 0;text-align:center;font-size:13px;">
			Zandoo est le site référent de petites annonces de particulier à particulier et professionnels. 
			Découvrez nos annonces voitures d'occasion, motos, immobilier, emploi, location de vacances, vêtements, électroménager, jouets, 
			déco, meubles, etc... Déposez une annonce gratuite en toute simplicité pour vendre, donner vos biens ou promouvoir vos services. 
			Avec des milliers de nouvelles annonces mises en ligne chaque jour vous trouverez l'objet d'occasion ou neuf que vous désirez.
			</div>
			<div style="clear:both;"></div>
		</div>
		<div class="foot-ft" style="">
			© 2018 zandoo.com - Tous droits réservés. | <a id="idcontactMess" >Nous contacter</a>
		</div>
                <div class="modal fade bs-example-modal-sm" id="reportModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;">
                <div class="modal-dialog modal-sm" role="document" style="width:100%;max-width:600px;margin:8% auto 0 auto;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">Nous Contactez</h4>
                        </div>
                        <div class="modal-body">
                            <div style="margin-top:10px;">
                                <input id='nomMessage' type="text" value="" class="ann-msg-inp" placeholder="Votre nom">
                            </div>
                            <div style="margin-top:10px;">
                                <input id='emailMessage' type="text" value="" class="ann-msg-inp" placeholder="Votre e-mail">
                            </div>
                            <div style="margin-top:10px;">
                               <input id='telMessage' type="text" value="" class="ann-msg-inp" placeholder="Votre numéro de tél. (optionnel)">
                            </div>
                            <div style="margin-top:10px;">
                               <textarea class="textare form ann-msg-txtarea" id="textAmessage" rows="3" placeholder="Votre Message" maxlength="1024" name="message"></textarea>
                            </div>
                            <div style="margin:10px 0;">
                               <button class="btn-primary" onclick="sendMessage('{{path('contact')}}')"> Envoyer message </button>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
	</div>