	<div id="srcbox" class="srch-box-all">
		<div class="srchboxall">		
			<div class="srchinputs">
				<div class="srch1">
					<input type="text" placeholder="Que recherchez-vous ?" class="srchinp" name="" id="recherche" value=""/>
				</div>
				<div class="srch2">
					<input type="text" placeholder="Toutes catégories" class="srchinp" name="" id="categorie" value=""/>
				</div>
				<div class="srch3">		
					<div class="srchbtn" style="color:#fff;">
						Recherchez
					</div>
				</div>
				<div style="clear:both;"></div>
			</div>	
			<div class="srchcheck" style="">
				<div class="srccrt1-all" style="">
					<div style="float:left;margin:0 5px 0 0;">
						<input type="checkbox" style="padding:0 10px 0 0;" name="id-recherche" id="" value=""/>
					</div>
					<div style="float:left;margin:0 0px 0 0;">
						Recherche dans le titre <span class="srctitre">uniquement</span>
					</div>
					<div style="clear:both;"></div>
				</div>
				<div class="srccrt2-all" style="">
					<div style="float:left;margin:0 5px 0 0;">
						<input type="checkbox" style="padding:0 10px 0 0;" name="" id="" value=""/>
					</div>
					<div style="float:left;margin:0 10px 0 0;">
						Annonces urgentes
					</div>
					<div style="clear:both;"></div>
				</div>				
				<div class="srccrt3-all" style="">
					<div class="publie-box-all">
						<div style="float:left;margin:0 5px 0 0;">
							<a class="lk-b" href="{{path('enregistrer_annonce')}}">
								<i class="fa fa-pencil-square-o"></i>
							</a>
						</div>
						<div style="float:left;margin:0 0px 0 0;">
							<a class="lk-b" href="{{path('enregistrer_annonce')}}">
								<span style="margin:0;padding:0;">Publiez votre annonce</span>
							</a>
						</div>
						<div style="clear:both;"></div>
					</div>
				</div>
				<div style="clear:both;"></div>
			</div>
		</div>
	</div>