	<div style="background:#F7F7F7;">
		<div class="srchbox" style="">
			<div class="titlemn" style=""><h3 style="margin:0;padding:0;">Recherchez. Profitez</h3></div>			
			<div class="titlemn" style="color:#383838;"><span class="titresub">Trouvez la bonne affaire parmi</span> 27 633 130 d'annonces sur Zandoo.</div>			
			<div class="srchinputs">
				<div class="srch1">
					<input type="text" placeholder="Que recherchez-vous ?" class="srchinp" name="" id="" value=""/>
				</div>
				<div class="srch2">
					<input type="text" placeholder="Toutes catégories" class="srchinp" name="" id="" value=""/>
				</div>
				<div class="srch3">		
					<div class="srchbtn" style="">
						<h3 style="margin:0;padding:0;">Recherchez</h3>
					</div>
				</div>
				<div style="clear:both;"></div>
			</div>	
			<div style="margin:15px 0 0 0;">
				<div class="srccrt1" style="">
					<div style="float:left;margin:0 5px 0 0;">
						<input type="checkbox" style="padding:0 10px 0 0;" name="" id="" value=""/>
					</div>
					<div style="float:left;margin:0 0px 0 0;">
						Recherche dans le titre <span class="srctitre">uniquement</span>
					</div>
					<div style="clear:both;"></div>
				</div>
				<div class="srccrt2" style="">
					<div style="float:left;margin:0 5px 0 0;">
						<input type="checkbox" style="padding:0 10px 0 0;" name="" id="" value=""/>
					</div>
					<div style="float:left;margin:0 10px 0 0;">
						Annonces urgentes
					</div>
					<div style="clear:both;"></div>
				</div>
				<div style="clear:both;"></div>
			</div>
			<div class="btn-publie-bx" style="">
				<div class="btn-publie" style="">
					<div class="pubicn" style="">
						<i class="fa fa-pencil-square-o"></i>
					</div>
					<div class="pubtxt" style="">
						<span style="margin:0;padding:0;">Publiez votre annonce</span>
					</div>
					<div style="clear:both;"></div>
				</div>
			</div>
		</div>
	</div>