	<div id="srcbox" class="srch-box-all">
		<div class="srchboxall">		
			<div class="srchinputs">
				<div class="srch1">
					<input type="text" placeholder="Que recherchez-vous ?" class="srchinp" name="" id="recherche" value=""/>
				</div>
				<div class="srch2">
					<select id="form_search_categorie" name="cat" class="form-control srchsel">
					<option value="" selected="selected">Toutes les catégories</option><optgroup label="EMPLOI ">
					<option value="1">Offres d'emploi </option><option value="2">Offres d'emploi Cadresnouveau </option></optgroup><optgroup label="VEHICULES ">
					<option value="3">Voitures </option><option value="4">Motos </option><option value="5">Caravaning </option><option value="6">Utilitaires </option><option value="7">Equipement Auto </option><option value="8">Equipement Moto </option><option value="9">Equipement Caravaning </option><option value="10">Nautisme </option><option value="11">Equipement Nautisme </option></optgroup><optgroup label="IMMOBILIER ">
					<option value="12">Ventes immobilières </option><option value="13">Immobilier Neufnouveau </option><option value="14">Locations </option><option value="15">Colocations </option><option value="16">Bureaux &amp; Commerces </option></optgroup><optgroup label="VACANCES ">
					<option value="17">Locations &amp; Gîtes </option><option value="18">Chambres d'hôtes </option><option value="19">Campings </option><option value="20">Hôtels </option><option value="21">Hébergements insolites </option></optgroup><optgroup label="MULTIMEDIA ">
					<option value="22">Informatique </option><option value="23">Consoles &amp; Jeux vidéo </option><option value="24">Image &amp; Son </option><option value="25">Téléphonie </option><option value="26">LOISIRS </option><option value="27">DVD / Films </option><option value="28">CD / Musique </option><option value="29">Livres </option><option value="30">Animaux </option><option value="31">Vélos </option><option value="32">Sports &amp; Hobbies </option><option value="33">Instruments de musique </option><option value="34">Collection </option><option value="35">Jeux &amp; Jouets </option><option value="36">Vins &amp; Gastronomie </option></optgroup><optgroup label="MATERIEL PROFESSIONNEL ">
					<option value="37">Matériel Agricole </option><option value="38">Transport - Manutention </option><option value="39">BTP - Chantier Gros-oeuvre </option><option value="40">Outillage - Matériaux 2nd-oeuvre </option><option value="41">Équipements Industriels </option><option value="42">Restauration - Hôtellerie </option><option value="43">Fournitures de Bureau </option><option value="44">Commerces &amp; Marchés </option><option value="45">Matériel Médical </option></optgroup><optgroup label="SERVICES ">
					<option value="46">Prestations de services </option><option value="47">Billetterie </option><option value="48">Evénements </option><option value="49">Cours particuliers </option><option value="50">Covoiturage </option></optgroup><optgroup label="MAISON ">
					<option value="51">Ameublement </option><option value="52">Electroménager </option><option value="53">Arts de la table </option><option value="54">Décoration </option><option value="55">Linge de maison </option><option value="56">Bricolage </option><option value="57">Jardinage </option><option value="58">Vêtements </option><option value="59">Chaussures </option><option value="60">Accessoires &amp; Bagagerie </option><option value="61">Montres &amp; Bijoux </option><option value="62">Equipement bébé </option><option value="63">Vêtements bébé </option></optgroup><optgroup label="AUTRES ">
					<option value="64">Autres</option></optgroup>
					</select>
				</div>
				<div class="srch3">		
					<div class="srchbtn" style="color:#fff;">
						Recherchez
					</div>
				</div>
				<div style="clear:both;"></div>
			</div>	
			<div class="srchcheck" style="">
				<div class="srccrt1-all" style="">
					<div style="float:left;margin:0 5px 0 0;">
						<input type="checkbox" style="padding:0 10px 0 0;" name="id-recherche" id="" value=""/>
					</div>
					<div style="float:left;margin:0 0px 0 0;">
						Recherche dans le titre <span class="srctitre">uniquement</span>
					</div>
					<div style="clear:both;"></div>
				</div>
				<div class="srccrt2-all" style="">
					<div style="float:left;margin:0 5px 0 0;">
						<input type="checkbox" style="padding:0 10px 0 0;" name="" id="" value=""/>
					</div>
					<div style="float:left;margin:0 10px 0 0;">
						Annonces urgentes
					</div>
					<div style="clear:both;"></div>
				</div>				
				<div class="srccrt3-all" style="">
					<div class="publie-box-all">
						<div style="float:left;margin:0 5px 0 0;">
							<a class="lk-b" href="{{path('enregistrer_annonce')}}">
								<i class="fa fa-pencil-square-o"></i>
							</a>
						</div>
						<div style="float:left;margin:0 0px 0 0;">
							<a class="lk-b" href="{{path('enregistrer_annonce')}}">
								<span style="margin:0;padding:0;">Publiez votre annonce</span>
							</a>
						</div>
						<div style="clear:both;"></div>
					</div>
				</div>
				<div style="clear:both;"></div>
			</div>
		</div>
	</div>