.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #005999), color-stop(1, #2980b9));
	background:-moz-linear-gradient(top, #005999 5%, #2980b9 100%);
	background:-webkit-linear-gradient(top, #005999 5%, #2980b9 100%);
	background:-o-linear-gradient(top, #005999 5%, #2980b9 100%);
	background:-ms-linear-gradient(top, #005999 5%, #2980b9 100%);
	background:linear-gradient(to bottom, #005999 5%, #2980b9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#005999', endColorstr='#2980b9',GradientType=0);
	background-color:#005999;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#fffff!important;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding:5px 20px;
	text-decoration:none;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2980b9), color-stop(1, #005999));
	background:-moz-linear-gradient(top, #2980b9 5%, #005999 100%);
	background:-webkit-linear-gradient(top, #2980b9 5%, #005999 100%);
	background:-o-linear-gradient(top, #2980b9 5%, #005999 100%);
	background:-ms-linear-gradient(top, #2980b9 5%, #005999 100%);
	background:linear-gradient(to bottom, #2980b9 5%, #005999 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2980b9', endColorstr='#005999',GradientType=0);
	background-color:#2980b9;
}
.myButton:active {
	position:relative;
	top:1px;
}