
/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar-default {
    margin: 0;
    padding: 0;    
    border-radius: 0;
    background-color: #5f92cd;
    font-family: OpenSansSemiBold,sans-serif;
}
ul.nav.navbar-nav{
    width: 90%;
}
a.navbar-brand, .navbar-nav li a{
    padding-top: 20px;
    min-height: 60px;
}
.navbar-default .navbar-brand{
    color:white;
}
.navbar-default .navbar-nav>.active>a{
     background-color: #E61981;
     color: white;
}

/*footer*/
footer{
    background: #416177;
    padding: 20px;
}

footer .nivfooter a {
    text-decoration: none;
    color: white;
} 

footer .nivfooter a:hover {
    color: red;
} 

.nivfooter {
    margin: 0 auto;
    width: 950px;
    color: #fff;
    text-align: center;
}

.nivfootermin {
    float: left;
    width: 100px;
    border-right: 1px solid #fff;
}

.nivfootermax {
    float: left;
    width: 180px;
    border-right: 1px solid #fff;
}

.nivfooter p {
    color: #fff;
    margin: 10px 0 0 0;
    font-size: 10px;
}

.clear {
    clear: both;
}
/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 992px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .put-annonce{
    margin-left: 0;
    background-color:transparent;
}
  .row.content {height:auto;} 
}
