
/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: #5f92cd;
    color: white;
    padding-bottom: 0;
    padding-top: 0;
    height: 60px;
    font-family: OpenSansSemiBold,sans-serif;
}
.navbar-nav{
    width: 100%;
}
.navbar-light .navbar-nav .nav-link{
    color: white;
    text-transform: uppercase;
} 
.navbar-light .navbar-brand{
    color: white;
}
.put-annonce{
    color: white;
    margin-left: 55%;
    background-color: #E61981;
    border-radius: 10px;
}

/*footer*/
footer{
    background: #416177;
    padding: 20px;
}

footer .nivfooter a {
    text-decoration: none;
    color: white;
} 

footer .nivfooter a:hover {
    color: red;
} 

.nivfooter {
    margin: 0 auto;
    width: 950px;
    color: #fff;
    text-align: center;
}

.nivfootermin {
    float: left;
    width: 100px;
    border-right: 1px solid #fff;
}

.nivfootermax {
    float: left;
    width: 180px;
    border-right: 1px solid #fff;
}

.nivfooter p {
    color: #fff;
    margin: 10px 0 0 0;
    font-size: 10px;
}

.clear {
    clear: both;
}
/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 992px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .put-annonce{
    margin-left: 0;
    background-color:transparent;
}
  .row.content {height:auto;} 
}
