.imgmax
{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}
a{
	text-decoration:none;
}
.lk-w, .lk-w:hover{
	color:#fff;
}
.lk-b, .lk-b:hover{
	color:#383838;
}
.body-main
{
	margin:0 auto;
	width:100%;
	max-width:1100px;
	padding:10px 5px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (min-width: 1100px) 
{
	.body-main 
	{
		padding: 30px 5px;
	}
}
@media screen and (max-width: 992px) 
{
	.sidenav 
	{
		height: auto;
		padding: 15px;
	}
	.put-annonce
	{
		margin-left: 0;
		background-color:transparent;
	}
	.row.content {height:auto;}
}
