.hd-foot
{
	margin:0 auto;width:100%;max-width:900px;padding:15px 10px;
}
.hd-foot-txt
{
	float:left;margin:0 2% 0 0;color:#faec00;font-size:17px;font-weight:700;padding:7px;width:27%;
	display:none;
}
.hd-foot-box-inp
{
	float:left;margin:0 2% 0 0;width:89%;
}
.hd-foot-inp
{
	padding:3px 10px;width:100%;height:38px;border:0px;border-radius:3px;
}
.hd-foot-btn-box
{
	float:left;width:9%;
}
.hd-foot-btn
{
	background:#faec00;color:#383838;padding:9px 0;text-align:center;font-size:14px;border-radius:5px;font-weight:bold;
}
.hd-foot-txt-1
{
	display:none;
}
.hd-foot-txt-2
{
	display:none;
}
.foot-bd-box
{
	margin:15px auto 0 auto;width:100%;max-width:798px;padding-top:20px;
	border-top:0px solid red;
}
.foot-bd-lft
{
	margin:0 auto;
	width:100%;
	max-width:347px;
}
.foot-bd-rgt
{
	margin:25px auto 0 auto;
	width:100%;
	max-width:347px;
}
.foot-bd-elm
{
	margin:0 0 30px 0;width:100%;
	text-align:center;
}
.foot-bd-mn-title
{
	font-size:15px;line-height:22px;font-weight:700;color:#0067b1;text-decoration:none;
}
.foot-bd-mn-title-sub
{
	margin:10px 0 10px 0;color:#0067b1;text-decoration:none;font-size:13px;line-height:1.5;font-weight:400;
}
.foot-ft
{
	margin:10px auto 10px auto;width:100%;max-width:1110px;padding:10px 0 0 0;border-top:1px solid #ccc;text-align:center;font-size:11px;
}
@media(min-width: 400px)
{
	.foot-bd-lft
	{
		margin:0 auto;
		width:100%;
		max-width:347px;
	}
	.foot-bd-rgt
	{
		margin:25px auto 0 auto;
		width:100%;
		max-width:347px;
	}
	.foot-bd-elm
	{
		float:left;
		margin:0 0 10px 0;
		width:225px;
		text-align:left;
	}	
	.foot-bd-elm-4,
	.foot-bd-elm-2
	{
		width:122px;
	}
}
@media(min-width: 490px)
{
	.hd-foot-txt
	{
		width:27%;
		display:block;
	}
	.hd-foot-box-inp
	{
		width:64%;
	}
	.hd-foot-btn-box
	{
		width:5%;
	}
}
@media(min-width: 580px)
{
	.hd-foot-txt
	{
		width:22%;
	}
	.hd-foot-box-inp
	{
		width:69%;
	}
}
@media(min-width: 680px)
{
	.hd-foot-txt
	{
		width:18%;
	}
	.hd-foot-box-inp
	{
		width:73%;
	}
}
@media(min-width: 800px)
{
	.hd-foot-txt
	{
		width:15%;
	}
	.hd-foot-box-inp
	{
		width:76%;
	}
}
@media(min-width: 830px)
{
	.foot-bd-lft
	{
		float:left;
		margin:0;
		width:450px;
		max-width:none;
	}	
	.foot-bd-elm-2
	{
		width:225px;
	}
	.foot-bd-rgt
	{
		float:left;
		margin:0;
		width:347px;
		max-width:none;
	}	
}
@media(min-width: 920px)
{
	.hd-foot-txt
	{
		width:43%;
	}
	.hd-foot-box-inp
	{
		width:48%;
	}
	.hd-foot-txt-1
	{
		display:inline;
	}
	.hd-foot-txt-2
	{
		display:inline;
	}
}
@media(min-width: 1120px)
{
	.srchbox
	{
		padding:45px 0;
	}
	.srch
	{
		float:left;margin:0 4px 0 0;
	}
	.srch1
	{
		float:left;width:54.6%;margin-right:0.4%;
	}
	.srch2
	{
		float:left;width:24.6%;margin-right:0.4%;
	}
	.srch3
	{	
		float:left;width:20%;
	}	
}