.hd-top
{
	width:100%;
	max-width:1100px;
	padding:5px 10px;
	margin:0 auto;
	color:#fff;
}
.hd-top-menu
{
	display:none;
	float:left;
	margin:5px 20px 0 40px;
	font-size:13px;
}
.hd-top-menu-elm
{
	float:left;margin:0 20px 0 0;
}
.hd-top-menu-right
{
	display:none;
	float:right;
	font-size:16px;
}
.hd-top-menu-right-elm
{
	float:left;margin:0 15px 0 0;padding-top:2px;
}
.btn-insc
{
	background:#faec00;color:#383838;padding:3px 12px;font-size:12px;border-radius:5px;font-weight:bold;
}
.hd-resp-menu
{
	padding:0px 10px 10px 10px;display:none;
}
.hd-resp-menu-elm
{
	border-top:1px solid hsla(0, 0%, 100%, .15);color:#fff;padding:10px 0;
}
.hd-resp-user
{
	padding:0px 10px 10px 10px;display:none;
}
.hd-top-menu-resp
{
	display:block;
	float:right;
	font-size:16px;	
}
.hd-top-right-user
{
	float:left;
	margin:0 20px 0 0;
	padding-top:2px;
}
.hd-top-right-register
{
	float:left;
}
.titlemn
{
	display:none;
}
.titresub
{
	display:none;
}
.srchbox
{
	margin:0 auto;
	width:100%;
	max-width:1100px;
	padding:15px 10px;
}
.srchboxall
{
	margin:0 auto;
	width:100%;
	max-width:1100px;
	padding:10px 10px;
}
.srchboxall-fix
{
	padding:0 0 10px 0!important;
}
.srchinputs
{
	background:#ccc;border-radius:5px;margin:0 0 0 0;padding:4px;
}
.srchcheck
{
	margin:15px 0 0 0;
}
.srchcheck-fix
{
	margin:5px 0 0 0;
}
.srch
{
	margin:0 0 4px 0;
}
.srch1
{
	width:100%;
	margin-right:0%;
	margin-bottom:4px;
}
.srch2
{
	width:100%;
	margin-right:0%;
	margin-bottom:4px;
}
.srch3
{	
	width:100%;
}
.srchinp
{
	color:#383838;padding:3px 10px;width:100%;height:50px;border:0px;border-radius:3px;
}
.srchbtn
{
	background:#005999;
	color:#fff;
	text-align:center;
	border-radius:5px;font-weight:bold;height:50px;width:100%;padding-top:10px;
	font-size: 24px;    
	font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;	
}
.srchbtn-fix
{
	color:#fff;
	font-size:12px;
	font-weight:bold;
	height:30px;
	font-size: 12px;    
	font-family: inherit;
    font-weight: 500;
}
.srccrt1
{
	width:240px;
	margin-right:0;
}
.srccrt2
{
	width:150px;
}
.srctitre
{
	display:none;
}
.btn-publie-bx
{
	margin:15px auto 0 auto;width:100%;max-width:238px;
}
.btn-publie
{
	background:#faec00;color:#000;text-align:center;border-radius:5px;font-weight:bold;width:100%;padding:10px 20px;
}
.pubicn
{
	float:left;
	margin:0 5px 0 0;
	padding:2px 0 0 0;
	font-size:16px;
}
.pubtxt
{
	float:left;
	margin:0 5px 0 0;
	font-size:15px;
}
.srccrt1-all
{
	margin:0 auto 5px auto;
	width:180px;
}
.srccrt2-all
{
	margin:0 auto 5px auto;
	width:150px;
}
.srccrt3-all
{
	margin:0 auto;
	width:175px;
}
.srch-box-all
{
	background:#fff;
	border-bottom:1px solid #ccc;
	position:relative;
}
.srchbox-fix
{
	background:#fff;
	position:fixed;
	z-index:200;
	right:0;
	top:0px;
	width:100%;
	box-shadow: 0 1px 0 rgba(12,13,14,0.1), 0 1px 3px rgba(12,13,14,0.1), 0 4px 20px rgba(12,13,14,0.035), 0 1px 1px rgba(12,13,14,0.025);
}
.publie-box-all
{
	background:#faec00;color:#000;text-align:center;font-size:12px;border-radius:5px;height:100%;width:175px;padding:5px 15px;
}
@media(min-width: 300px)
{
	.srctitre
	{
		display:inline;
	}
	.srccrt1-all
	{
		margin:0 auto 5px auto;
		width:240px;
	}
	.pubtxt
	{
		font-size:16px;
	}
}
@media(min-width: 450px)
{
	.titlemn
	{
		display:;
	}
	.titresub
	{
		display:inline;
	}
	.srccrt1
	{
		float:left;
		margin-right:20px;
	}
	.srccrt2
	{
		float:left;
	}
}
@media(min-width: 500px)
{
	.titlemn
	{
		display:block;
	}
	.srchinputs
	{
		margin-top:10px;
	}
}
@media(min-width: 630px)
{
	.srccrt1-all
	{
		float:left;
		margin-right:20px;
	}
	.srccrt2-all
	{
		float:left;		
		margin:0 0px 0 0;
	}
	.srccrt3-all
	{
		float:right;		
		margin:0 0px 0 0;
	}
}
@media(min-width: 870px)
{
	.hd-top-menu, .hd-top-menu-right
	{
		display:block;
	}
	.hd-top-menu-resp
	{
		display:none;
	}	
	.srchbox
	{
		padding:35px 10px;
	}
	.srchboxall
	{
		padding:15px 10px;
	}
	.srch2a
	{
		float:left;
		margin:0 0 4px 0;
		width:50%;
	}
	.srch2b
	{
		float:left;
		margin:0 0 4px 0;
		width:50%;
	}
	.srch1
	{
		float:left;width:54.6%;margin-right:0.4%;
		margin-bottom:0;
	}
	.srch2
	{
		float:left;width:24.6%;margin-right:0.4%;
		margin-bottom:0;	
	}	
	.srch3
	{	
		float:left;width:20%;
	}
}
@media(min-width: 1100px)
{
	.hd-top
	{
		padding:5px 0;
	}
}
@media(min-width: 1120px)
{
	.srchboxall
	{
		padding:10px 0;
	}
	.srchbox
	{
		padding:45px 0;
	}
	.srch
	{
		float:left;margin:0 4px 0 0;
	}
	.srch1
	{
		float:left;width:54.6%;margin-right:0.4%;
	}
	.srch2
	{
		float:left;width:24.6%;margin-right:0.4%;
	}
	.srch3
	{	
		float:left;width:20%;
	}	
}