<h3>Bonjour, ça y est! vous etes enregistré!</h3>
 
<p>Votre compte est bien créé !!! </p>

<p>Identifiant : <strong> {{ utilisateur.username }} </strong></p>
<p>Mot de Passe : <strong>{{ password}}</strong></p>

<p>Pour se connecter <a href="{{ url('login') }}"> aller sur Zandoo </a></p>

<i> Merci! <br/>ce ci est un mail automatique inutile d'y repondre </i>

<!--img src="{#{ absolute_url(asset('images/logo.png')) }#}"-->