<h3>Bonjour {{utilisateur.username}},</h3>
 
<p>Votre nouveau mot de passe est : {{password}}</p>
<p>Votre E-mail est : {{utilisateur.email}}</p>

<p>Pour se connecter <a href="{{ url('login') }}"> aller sur Zandoo </a></p>

<i> Merci! <br/>ce ci est un mail automatique inutile d'y repondre </i>
<!--img src="{#{ absolute_url(asset('images/logo.png')) }#}"-->