{% extends 'base.html.twig' %}
{% block body %} 
<style>
#container {
    height: 500px; 
    min-width: 310px; 
    max-width: 800px; 
    margin: 0 auto; 
}
.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}
.highcharts-exporting-group, 
.highcharts-button
{
	display:none;
}	
</style>
<link rel="stylesheet" href="{{ asset('public/css/home.css') }}" type="text/css"/> 
<div class="hm-cntmap" style="">
	<div style="">
		<div class="hm-map">		
			<div id="container" style="max-height:450px;"></div>
		</div>
		<div class="hm-place">
			<div class="hm-selreg">
				<select class="hm-sel">
					<option value="0">Choisissez une région</option>
					<option value="1">Bas-Uele</option>
					<option value="2">Équateur</option>
					<option value="3">Haut-Katanga</option>
					<option value="4">Haut-Lomami</option>
					<option value="5">Haut-Uele</option>
					<option value="6">Ituri</option>
					<option value="7">Kasaï</option>
					<option value="8">Kasaï-Central</option>
					<option value="9">Kasaï-Oriental</option>
					<option value="10">Kinshasa</option>					
					<option value="11">Kongo Central</option>
					<option value="12">Kwango</option>
					<option value="13">Kwilu</option>
					<option value="14">Lomami</option>
					<option value="15">Lualaba</option>
					<option value="16">Mai-Ndombe</option>
					<option value="17">Maniema</option>
					<option value="18">Mongala</option>
					<option value="19">Nord-Ubangi</option>
					<option value="20">North Kivu</option>					
					<option value="21">Sankuru</option>
					<option value="22">South Kivu</option>
					<option value="23">Sud-Ubangi</option>
					<option value="24">Tanganyika</option>
					<option value="25">Tshopo</option>
					<option value="26">Tshuapa</option>
				</select>
			</div>
			<div class="hm-divtab">
				<table class="hm-tab" align="center">
				<tr>
					<td>
						<div>Bas-Uele <span class="hm-place-nb">(1 250)</span></div>
						<div class="hm-place-sp">Équateur <span class="hm-place-nb">(250)</span></div>
						<div class="hm-place-sp">Haut-Katanga <span class="hm-place-nb">(50)</span></div>
						<div class="hm-place-sp">Haut-Lomami <span class="hm-place-nb">(150)</span></div>
						<div class="hm-place-sp">Haut-Uele <span class="hm-place-nb">(500)</span></div>
						<div class="hm-place-sp">Ituri <span class="hm-place-nb">(100)</span></div>
						<div class="hm-place-sp">Kasaï <span class="hm-place-nb">(2 850)</span></div>
						<div class="hm-place-sp">Kasaï-Central <span class="hm-place-nb">(10)</span></div>
						<div class="hm-place-sp">Kasaï-Oriental <span class="hm-place-nb">(12)</span></div>
						<div class="hm-place-sp">Kinshasa <span class="hm-place-nb">(250)</span></div>
						<div class="hm-place-sp">Kongo Central <span class="hm-place-nb">(950)</span></div>
						<div class="hm-place-sp">Kwango <span class="hm-place-nb">(650)</span></div>
						<div class="hm-place-sp">Kwilu <span class="hm-place-nb">(330)</span></div>
					</td>
					<td>
						<div class="hm-tabsep">&nbsp;</div>
					</td>
					<td>
						<div style="margin-top:0px;">Lomami <span class="hm-place-nb">(1 001)</span></div>
						<div class="hm-place-sp">Lualaba <span class="hm-place-nb">(400)</span></div>
						<div class="hm-place-sp">Mai-Ndombe <span class="hm-place-nb">(399)</span></div>
						<div class="hm-place-sp">Maniema <span class="hm-place-nb">(159)</span></div>
						<div class="hm-place-sp">Mongala <span class="hm-place-nb">(1 250)</span></div>
						<div class="hm-place-sp">Nord-Ubangi <span class="hm-place-nb">(50)</span></div>
						<div class="hm-place-sp">North Kivu <span class="hm-place-nb">(39)</span></div>
						<div class="hm-place-sp">Sankuru <span class="hm-place-nb">(211)</span></div>
						<div class="hm-place-sp">South Kivu <span class="hm-place-nb">(540)</span></div>
						<div class="hm-place-sp">Sud-Ubangi <span class="hm-place-nb">(750)</span></div>
						<div class="hm-place-sp">Tanganyika <span class="hm-place-nb">(550)</span></div>
						<div class="hm-place-sp">Tshopo <span class="hm-place-nb">(880)</span></div>
						<div class="hm-place-sp">Tshuapa <span class="hm-place-nb">(77)</span></div>
					</td>
				</tr>
				</table>
			</div>			
		</div>
		<div style="clear:both;"></div>
	</div>
</div>
<div style="display:none;margin:40px auto;width:100%;max-width:400px;">
	<div style="background:#fff;border:1px solid #eaeaea;">		
		<div style="background:#f7f7f7;padding:10px 20px;">
			<b>Selectionnez une catégorie</b>:
		</div>
		<div style="background:#fff;padding:10px 20px;">
			<div>EMPLOI ></div>
			<div class="hm-place-sp">VEHICULES ></div>
			<div class="hm-place-sp">IMMOBILIER ></div>
			<div class="hm-place-sp">VACANCES ></div>
			<div class="hm-place-sp">MAISON ></div>
			<div class="hm-place-sp">MULTIMEDIA ></div>
			<div class="hm-place-sp">LOISIRS ></div>
			<div class="hm-place-sp">MATERIEL PROFESSIONNEL ></div>
			<div class="hm-place-sp">AUTRES ></div>
		</div>
	</div>
</div>
<script src="{{ asset('public/js/highmaps.js') }}"></script>
<script src="{{ asset('public/js/exporting.js') }}"></script>
<script src="{{ asset('public/js/cd-all.js') }}"></script>
<script>
$(document).ready(function()
{
	// Prepare demo data
	// Data is joined to map using value of 'hc-key' property by default.
	// See API docs for 'joinBy' for more info on linking data and map.
	var data = [
		['cd-bc', 0],
		['cd-kv', 1],
		['cd-eq', 2],
		['cd-hc', 3],
		['cd-bn', 4],
		['cd-kn', 5],
		['cd-kr', 6],
		['cd-kt', 7],
		['cd-kc', 8],
		['cd-1694', 9],
		['cd-1697', 10]
	];

	// Create the chart
	Highcharts.mapChart('container',
	{
		chart: {map: 'countries/cd/cd-all', cursor:'pointer', },
		title: {text: null},
		subtitle: {text: null},
		legend: {enabled: false},
		tooltip: {enabled: false},
		mapNavigation: 
		{
			enabled: true,
			enableMouseWheelZoom: false,
			enableDoubleClickZoomTo: false,
			buttonOptions: 
			{
				verticalAlign: 'bottom'
			}
		},
		colorAxis: {min: 0},
		series: [{
			data: data,
			cursor: 'pointer',
			name: 'Département',
			states: 
			{
				hover: 
				{
					color: '#E6D800'
				}
			},
			dataLabels: 
			{
				enabled: true,
				format: '{point.name}'
			}
		}]
	});

});
</script>
{% endblock %}

