{% extends 'base.html.twig' %}
{% block body %} 
<style>
#container {
    height: 500px; 
    min-width: 310px; 
    max-width: 800px; 
    margin: 0 auto; 
}
.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}
.highcharts-exporting-group, 
.highcharts-title, 
.highcharts-subtitle,
.highcharts-button
{
	display:none;
}
</style>
<script src="https://code.highcharts.com/maps/highmaps.js"></script>
<script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
<script src="https://code.highcharts.com/mapdata/countries/cd/cd-all.js"></script>
<link rel="stylesheet" href="{{ asset('public/css/connexion.css') }}" type="text/css"/> 
<div style="margin:0 auto;width:100%;max-width:700px;border:0px solid red;">
	<div style="float:left;width:50%;">
		<div style="padding:5px;text-align:center;border:1px solid #005999;background:#fff;color:#005999;width:100%;max-width:200px;">
			<i class="fa fa-pencil-square-o"></i>&nbsp;&nbsp;Deposer une annonce
		</div>
	</div>
	<div style="float:right;width:50%;">	
		<div style="float:right;padding:5px;text-align:center;border:1px solid #ccc;background:#fff;color:#333;width:100%;max-width:225px;">
			<i class="fa fa-map-marker"></i>&nbsp;&nbsp;Rechercher autour de moi
		</div>
		<div style="clear:both;"></div>
	</div>
	<div style="clear:both;"></div>
</div>
<div style="margin-top:20px;border:0px solid #000;">
	<div style="">
		<div style="float:left;width:50%;margin-right:10%;">		
			<div id="container" style="top:0;left:0;"></div>
		</div>
		<div style="float:left;width:40%;font-size:14px;margin-top:50px;">	
			<table style="width:90%;">
			<tr>
				<td>
					<div>Bas-Uele <span style="font-size:13px;color:#808080;">(1 250)</span></div>
					<div style="margin-top:5px;">Équateur <span style="font-size:13px;color:#808080;">(250)</span></div>
					<div style="margin-top:5px;">Haut-Katanga <span style="font-size:13px;color:#808080;">(50)</span></div>
					<div style="margin-top:5px;">Haut-Lomami <span style="font-size:13px;color:#808080;">(150)</span></div>
					<div style="margin-top:5px;">Haut-Uele <span style="font-size:13px;color:#808080;">(500)</span></div>
					<div style="margin-top:5px;">Ituri <span style="font-size:13px;color:#808080;">(100)</span></div>
					<div style="margin-top:5px;">Kasaï <span style="font-size:13px;color:#808080;">(2 850)</span></div>
					<div style="margin-top:5px;">Kasaï-Central <span style="font-size:13px;color:#808080;">(10)</span></div>
					<div style="margin-top:5px;">Kasaï-Oriental <span style="font-size:13px;color:#808080;">(12)</span></div>
					<div style="margin-top:5px;">Kinshasa <span style="font-size:13px;color:#808080;">(250)</span></div>
					<div style="margin-top:5px;">Kongo Central <span style="font-size:13px;color:#808080;">(950)</span></div>
					<div style="margin-top:5px;">Kwango <span style="font-size:13px;color:#808080;">(650)</span></div>
					<div style="margin-top:5px;">Kwilu <span style="font-size:13px;color:#808080;">(330)</span></div>
				</td>
				<td>
					<div style="margin-top:0px;">Lomami <span style="font-size:13px;color:#808080;">(1 001)</span></div>
					<div style="margin-top:5px;">Lualaba <span style="font-size:13px;color:#808080;">(400)</span></div>
					<div style="margin-top:5px;">Mai-Ndombe <span style="font-size:13px;color:#808080;">(399)</span></div>
					<div style="margin-top:5px;">Maniema <span style="font-size:13px;color:#808080;">(159)</span></div>
					<div style="margin-top:5px;">Mongala <span style="font-size:13px;color:#808080;">(1 250)</span></div>
					<div style="margin-top:5px;">Nord-Ubangi <span style="font-size:13px;color:#808080;">(50)</span></div>
					<div style="margin-top:5px;">North Kivu <span style="font-size:13px;color:#808080;">(39)</span></div>
					<div style="margin-top:5px;">Sankuru <span style="font-size:13px;color:#808080;">(211)</span></div>
					<div style="margin-top:5px;">South Kivu <span style="font-size:13px;color:#808080;">(540)</span></div>
					<div style="margin-top:5px;">Sud-Ubangi <span style="font-size:13px;color:#808080;">(750)</span></div>
					<div style="margin-top:5px;">Tanganyika <span style="font-size:13px;color:#808080;">(550)</span></div>
					<div style="margin-top:5px;">Tshopo <span style="font-size:13px;color:#808080;">(880)</span></div>
					<div style="margin-top:5px;">Tshuapa <span style="font-size:13px;color:#808080;">(77)</span></div>
				</td>
			</tr>
			</table>
		</div>
		<div style="clear:both;"></div>
	</div>
</div>
<div style="display:none;margin:40px auto;width:100%;max-width:400px;">
	<div style="background:#fff;border:1px solid #eaeaea;">		
		<div style="background:#f7f7f7;padding:10px 20px;">
			<b>Selectionnez une catégorie</b>:
		</div>
		<div style="background:#fff;padding:10px 20px;">
			<div>EMPLOI ></div>
			<div style="margin-top:5px;">VEHICULES ></div>
			<div style="margin-top:5px;">IMMOBILIER ></div>
			<div style="margin-top:5px;">VACANCES ></div>
			<div style="margin-top:5px;">MAISON ></div>
			<div style="margin-top:5px;">MULTIMEDIA ></div>
			<div style="margin-top:5px;">LOISIRS ></div>
			<div style="margin-top:5px;">MATERIEL PROFESSIONNEL ></div>
			<div style="margin-top:5px;">AUTRES ></div>
		</div>
	</div>
</div>

<script>
$(document).ready(function(){
	// Prepare demo data
	// Data is joined to map using value of 'hc-key' property by default.
	// See API docs for 'joinBy' for more info on linking data and map.
	var data = [
		['cd-bc', 0],
		['cd-kv', 1],
		['cd-eq', 2],
		['cd-hc', 3],
		['cd-bn', 4],
		['cd-kn', 5],
		['cd-kr', 6],
		['cd-kt', 7],
		['cd-kc', 8],
		['cd-1694', 9],
		['cd-1697', 10]
	];

	// Create the chart
	Highcharts.mapChart('container', {
		chart: {
			map: 'countries/cd/cd-all'
		},

		title: {
			text: 'Highmaps basic demo'
		},

		subtitle: {
			text: 'Source map: <a href="http://code.highcharts.com/mapdata/countries/cd/cd-all.js">Democratic Republic of the Congo</a>'
		},

		mapNavigation: {
			enabled: true,
			buttonOptions: {
				verticalAlign: 'bottom'
			}
		},

		colorAxis: {
			min: 0
		},

		series: [{
			data: data,
			name: 'Random data',
			states: {
				hover: {
					color: '#BADA55'
				}
			},
			dataLabels: {
				enabled: true,
				format: '{point.name}'
			}
		}]
	});

});
</script>
{% endblock %}

